{% extends 'base.html.twig' %}

{% block title %}Mon Producteur {% endblock %}

{% block body %}
    <section class="contentProducer">
        <div class="row">
            <div class="col-4">
                <h2 class="title">Grand Horticulture<h2>
                <hr/>
                <p>Nous cultivons ces terres depuis 70ans, et nos produits sont notre réussite.</p>
            </div>
            <div class="col-8">
                <img src= 'url("www.placehold.it/350x150")' alt="photo du producteur" />
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-8">
                <img src ="/public/photoProducer1" alt="photo du producteur" />
            </div>
            <div class="col-4">
                <h2>Grand Horticulture<h2>
                <hr/>
                <p>Nous cultivons ces terres depuis 70ans, et nos produits sont notre réussite.</p>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-4">
                <h2>Grand Horticulture<h2>
                <hr/>
                <p>Nous cultivons ces terres depuis 70ans, et nos produits sont notre réussite.</p>
            </div>
            <div class="col-8">
                <img src ="/public/photoProducer1" alt="photo du producteur" />
            </div>
        </div>
    </section>
{% endblock body %}