{% extends 'base.html.twig' %}

{% block title %}Connectez vous {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/sign.css') }}">
{% endblock %}

{% block body %}
<div class="sign d-flex justify-content-center">
    <div class="col-10 my-5">
        <div class="mb-4">
            <h1 class="styleBold mb-4">Connectez-vous</h1>
            <h4 class="mb-4">Vous devez être connecté avec votre compte <span class="caveat">mangerPlusPrès.fr</span> pour accéder à cette fonctionnalité.</h4>
            <h4 class="mb-4">Une fois connecté vous pourrez:</h4>
            <ul>
                <li>Passer commande</li>
                <li>Consulter l'historique des commandes</li>
            </ul>
        </div>
        <div class="mt-5 d-flex flex-column align-items-center">
            <h3 class="mb-4">Connectez-vous :</h3>
            <a class="btn btn-primary" href="{{path('signIn_showIn')}}">Je me connecte</a>
        </div>
    </div>
</div>
{% endblock %}
