{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/home.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/dividerHome.css') }}">
{% endblock %}

{% block title %}Accueil {% endblock %}

{% block body %}
    <div class="homeLayout col-12 d-flex align-items-center justify-content-center">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <div class="text-center square">
                    <h1 class="mainTitle">Manger plus près .fr</h1>
                    <p class="homeText">Retrouver votre producteur en ligne</p>
                </div>
            </div>
            <div class="mt-5 col-12 d-flex justify-content-center">
                <button type="button" class="homeText btn classicBtn"><i class="fas fa-shopping-cart mx-2"></i>Drive</button>
            </div>
        </div>
    </div>
    <div class="movingBackground1">
        
    </div>
    <div class="showcase col-12">
        <div class="row d-flex justify-content-around">
            <div class="col-4 mt-5 squareBackground text-center d-flex flex-column justify-content-center">
                <i class="fas fa-sign-in-alt"></i>
                <p class="mb-0">Je m' <span class="showcaseBold">INSCRIS</span></p>
                <p class="mb-0">&</p>
                <p class="mb-0">je passe commande</p>
            </div>
            <div class="col-4 mt-5 squareBackground text-center d-flex flex-column justify-content-center">
                <p><i class="fas fa-car"></i> Je <span class="showcaseBold">RETIRE</span></p>
                <p>ma commande</h3>
            </div class="col-4">
        </div>
        <div class="row d-flex justify-content-around mt-5">
            <div class="col-3 mb-5 squareBackground text-center d-flex flex-column justify-content-center">
                <p>100 %</p>
                <p><span class="showcaseBold">LOCAL</span></p>
                <div class="percentShowcase"></div>
            </div>
            <div class="col-3 mb-5 squareBackground photoShowcase text-center d-flex flex-column justify-content-center">
                <img src="{{ asset('/img/producer.jpg') }}" alt="Photo de l'exploitation" />
            </div>
            <div class="col-3 mb-5 squareBackground text-center d-flex flex-column justify-content-center">
                <p><span class="showcaseBold">DIRECT</span></p>
                <p>Producteur</p>
            </div>
        </div>
    </div>
    <div class="movingBackground2">

    </div>
        <div class="divider">
            <div class="row rowDivider red">
                <div>
                    <svg id="" preserveAspectRatio="xMidYMax meet" class="svg-separator sep1" viewBox="0 0 1600 100" style="" data-height="100">
                    <path class="" style="opacity: 1;fill: #C3CF1F;" d="M1040,56c0.5,0,1,0,1.6,0c-16.6-8.9-36.4-15.7-66.4-15.7c-56,0-76.8,23.7-106.9,41C881.1,89.3,895.6,96,920,96
                    C979.5,96,980,56,1040,56z"></path>
                    <path class="" style="opacity: 1;fill: #C3CF1F;" d="M1699.8,96l0,10H1946l-0.3-6.9c0,0,0,0-88,0s-88.6-58.8-176.5-58.8c-51.4,0-73,20.1-99.6,36.8
                    c14.5,9.6,29.6,18.9,58.4,18.9C1699.8,96,1699.8,96,1699.8,96z"></path>
                    <path class="" style="opacity: 1;fill: #C3CF1F;" d="M1400,96c19.5,0,32.7-4.3,43.7-10c-35.2-17.3-54.1-45.7-115.5-45.7c-32.3,0-52.8,7.9-70.2,17.8
                    c6.4-1.3,13.6-2.1,22-2.1C1340.1,56,1340.3,96,1400,96z"></path>
                    <path class="" style="opacity: 1;fill: #C3CF1F;" d="M320,56c6.6,0,12.4,0.5,17.7,1.3c-17-9.6-37.3-17-68.5-17c-60.4,0-79.5,27.8-114,45.2
                    c11.2,6,24.6,10.5,44.8,10.5C260,96,259.9,56,320,56z"></path>
                    <path class="" style="opacity: 1;fill: #C3CF1F;" d="M680,96c23.7,0,38.1-6.3,50.5-13.9C699.6,64.8,679,40.3,622.2,40.3c-30,0-49.8,6.8-66.3,15.8
                    c1.3,0,2.7-0.1,4.1-0.1C619.7,56,620.2,96,680,96z"></path>
                    <path class="" style="opacity: 1;fill: #C3CF1F;" d="M-40,95.6c28.3,0,43.3-8.7,57.4-18C-9.6,60.8-31,40.2-83.2,40.2c-14.3,0-26.3,1.6-36.8,4.2V106h60V96L-40,95.6
                    z"></path>
                    <path class="" style="opacity: 1;fill: #436C00;" d="M504,73.4c-2.6-0.8-5.7-1.4-9.6-1.4c-19.4,0-19.6,13-39,13c-19.4,0-19.5-13-39-13c-14,0-18,6.7-26.3,10.4
                    C402.4,89.9,416.7,96,440,96C472.5,96,487.5,84.2,504,73.4z"></path>
                    <path class="" style="opacity: 1;fill: #436C00;" d="M1205.4,85c-0.2,0-0.4,0-0.6,0c-19.5,0-19.5-13-39-13s-19.4,12.9-39,12.9c0,0-5.9,0-12.3,0.1
                    c11.4,6.3,24.9,11,45.5,11C1180.6,96,1194.1,91.2,1205.4,85z"></path>
                    <path class="" style="opacity: 1;fill: #436C00;" d="M1447.4,83.9c-2.4,0.7-5.2,1.1-8.6,1.1c-19.3,0-19.6-13-39-13s-19.6,13-39,13c-3,0-5.5-0.3-7.7-0.8
                    c11.6,6.6,25.4,11.8,46.9,11.8C1421.8,96,1435.7,90.7,1447.4,83.9z"></path>
                    <path class="" style="opacity: 1;fill: #436C00;" d="M985.8,72c-17.6,0.8-18.3,13-37,13c-19.4,0-19.5-13-39-13c-18.2,0-19.6,11.4-35.5,12.8
                    c11.4,6.3,25,11.2,45.7,11.2C953.7,96,968.5,83.2,985.8,72z"></path>
                    <path class="" style="opacity: 1;fill: #436C00;" d="M743.8,73.5c-10.3,3.4-13.6,11.5-29,11.5c-19.4,0-19.5-13-39-13s-19.5,13-39,13c-0.9,0-1.7,0-2.5-0.1
                    c11.4,6.3,25,11.1,45.7,11.1C712.4,96,727.3,84.2,743.8,73.5z"></path>
                    <path class="" style="opacity: 1;fill: #436C00;" d="M265.5,72.3c-1.5-0.2-3.2-0.3-5.1-0.3c-19.4,0-19.6,13-39,13c-19.4,0-19.6-13-39-13
                    c-15.9,0-18.9,8.7-30.1,11.9C164.1,90.6,178,96,200,96C233.7,96,248.4,83.4,265.5,72.3z"></path>
                    <path class="" style="opacity: 1;fill: #436C00;" d="M1692.3,96V85c0,0,0,0-19.5,0s-19.6-13-39-13s-19.6,13-39,13c-0.1,0-0.2,0-0.4,0c11.4,6.2,24.9,11,45.6,11
                    C1669.9,96,1684.8,96,1692.3,96z"></path>
                    <path class="" style="opacity: 1;fill: #436C00;" d="M25.5,72C6,72,6.1,84.9-13.5,84.9L-20,85v8.9C0.7,90.1,12.6,80.6,25.9,72C25.8,72,25.7,72,25.5,72z"></path>
                    <path class="" style="fill: rgb(246, 241, 232);" d="M-40,95.6C20.3,95.6,20.1,56,80,56s60,40,120,40s59.9-40,120-40s60.3,40,120,40s60.3-40,120-40
                    s60.2,40,120,40s60.1-40,120-40s60.5,40,120,40s60-40,120-40s60.4,40,120,40s59.9-40,120-40s60.3,40,120,40s60.2-40,120-40
                    s60.2,40,120,40s59.8,0,59.8,0l0.2,143H-60V96L-40,95.6z"></path>
                    </svg>
                    <div class="flagshipProductTitle d-flex flex-column justify-content-center align-items-center">
                        <h1><span class="showcaseBold">Drive</span></h1>
                        <p>Faites vivre votre communauté</p>
                    </div>
                </div>
            </div>
            <div class="row rowDivider light-grey">
              <div>
                <svg id="" preserveAspectRatio="xMidYMax meet" class="svg-separator sep2" viewBox="0 0 1600 200" style="display: block;" data-height="200">
                    <polygon class="" style="fill: rgb(236, 240, 241);" points="-4,0 1604,198 1604,204 -4,204 	"></polygon>
                    <polygon class="" style="opacity: 1;fill: #d2d7d3;" points="1604,198 1604,186 -4,0 -4,0 	"></polygon>
                    <polygon class="" style="opacity: 1;fill: #bdc3c7;" points="1604,186 1604,174 -4,0 -4,0 	"></polygon>
                </svg>
                <div class="flagshipProduct col-12 d-flex flex-column justify-content-center align-items-center">
                    <div class="productCard col-4">
                        <div class="">
                            <div class="col-12">
                                <h4>Laitue</h4>
                                <div class="productPrice">
                                <p>1.20€</p>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <div class="col-12">
                                <img src="/public/img/product1321.png" alt="Photo de laitue" />
                            </div>
                        </div>
                        <div class="">
                            <div class="col-6">
                                <div class="category">
                                    <img src="/public/img/catVegetables.png" alt="Icones légumes" />
                                    <p>Légumes</p>
                                </div>
                                <div class="season">
                                <img src="/public/img/season.png" alt="Icones saison" />
                                    <p>Toute l'année</p>
                                </div>
                            </div>
                            <div class="col-6">
                                <p>Laitue verte</p>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="col-6">
                                <ul class="productNumber">
                                    <li class="productNumber-item">
                                    <a class="productNumber-link" href="#" aria-label="less">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                    </li>
                                    <li class="productNumber-item"><a class="productNumber-link" href="#">1</a></li>
                                    <li class="productNumber-item">
                                    <a class="productNumber-link" href="#" aria-label="more">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-6">
                                <form method="POST" class="align-middle">
                                    <button title="Ajouter au panier" type="submit" formaction="/addCart" name="product" value="" class="btn text-muted">Ajouter au panier</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}