                                /* CART */
                                /* CART */
                                /* CART */

.totalCart {
    background-color: #436C00!important;
}

.sommeCart {
    color: #333!important;
}

.cart .btn {
    background-color: #436C00!important;
    border-color: #436C00!important;
}

.cart .btn:hover {
    border-color: #333!important;
    background-color: #007BFF!important;
}