

                                /* HEAD DRIVE */
                                /* HEAD DRIVE */
                                /* HEAD DRIVE */

.headDrive {
    background-color: #ECF0F1;
    border-bottom: 2px solid #333333;
}

.headDrive h2 {
    background-color: #ECF0F1;
    font-size: 3em;
}

.headDrive .filterCard {
    height: fit-content;
    margin-top: 10px;
}

.headDrive .filterCard img {
    height: fit-content;
    margin: 10px;
}

.headDrive .filterCard button {
    font-family: "Caveat", serif;
    font-size: 1em;
    color: #333333;
}

.filterDrive input:hover + .checkmark {
    background-color: rgba(169,169,169,0.4);
    border: 1px solid gray;
    border-radius: 4px;
}

/* When the checkbox is checked, add a blue background */
.filterDrive input:checked + .checkmark {
    background-color: rgba(86,138,0,0.4);
    border: 1px solid gray;
    border-radius: 4px;
}



                                /* STORE */
                                /* STORE */
                                /* STORE */

.store {
    border-bottom: 2px solid #333333;
}

.headStore h3 {
    font-size: 3em;
}

.headStore p {
    font-family: "Caveat", serif;
    font-size: 2.5em;
    color: #CB2235;
}

.headStore .numberProductSelect {
    color: #f7c537;
    font-size: 0.7em;
}

