

                                /* HEAD DRIVE */
                                /* HEAD DRIVE */
                                /* HEAD DRIVE */

.headDrive {
    background-color: #ECF0F1;
    border-bottom: 2px solid #333333;
}

.headDrive h2 {
    background-color: #ECF0F1;
    font-size: 3em;
}

.headDrive .filterCard {
    height: fit-content;
    margin-top: 10px;
}

.headDrive .filterCard img {
    height: fit-content;
}

.headDrive .filterCard button {
    font-family: "Caveat", serif;
    font-size: 1em;
    color: #333333;
}


                                /* STORE */
                                /* STORE */
                                /* STORE */

.store {
    border-bottom: 2px solid #333333;
}

.headStore h3 {
    font-size: 3em;
}

.headStore p {
    font-family: "Caveat", serif;
    font-size: 2.5em;
    color: #CB2235;
}

.headStore .numberProductSelect {
    color: #f7c537;
    font-size: 0.7em;
}

                                /* PRODUCT CARD */
                                /* PRODUCT CARD */
                                /* PRODUCT CARD */

.productCard {
    border: 2px solid #436C00;
}

.layoutQuantity {
    background-color: #ECF0F1 !important;
}
