

                                /* FOOTER */
                                /* FOOTER */
                                /* FOOTER */

footer a {
    color: #F6F1E8;
}

footer a:hover {
    color: #436C00;
}

footer {
    border-top: 3px solid darkgrey;
}

.preFoot h4 {
    font-size: 1em;
    font-family: "Jost", sans-serif;
    text-decoration: underline;
}

/* .preFootFirst {
    border-right: 1px solid #F6F1E8;
} */

@media (min-width: 575px) { 
    .preFoot {
        height: 650px;
  }
}

.preFoot {
    background-color: #333333;
    height: 390px;
    width: 100%;
    color: #F6F1E8;
    font-family: "Caveat", serif;
    font-size: 1.8em;
}

.footFoot {
    background-color: #181A1B;
    height: 70px;
    width: 100%;
    color: #919191;
}

.footFoot a {
    color: #919191;
    text-decoration: underline;
}
