

                                /* HOME LAYOUT */
                                /* HOME LAYOUT */
                                /* HOME LAYOUT */

.homeLayout {
    background-image: url('/img/home.jpg');
    background-size: cover;
    background-position: center;
    height: 84vh;
    width: 100%;
    font-family: "Caveat", sans-serif;
    font-weight: 500;
    -webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.75);
}

.mainTitle {
    color: #ffffff;
    font-size: 5em;
    font-weight: 700;
}

.homeText {
    color: #ffffff;
    font-size: 2.5em;
    font-weight: 400;
}

.square {
    width: fit-content;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    border: 2px solid #436C00;
    padding-left: 15px;
    padding-right: 15px;
}


                                /* SHOWCASE */
                                /* SHOWCASE */
                                /* SHOWCASE */

.squareBackground {
    width: 400px;
    height: 400px;
    background-color: #FFFFFF;
    position: relative;
}

.showcase{
    background-color: rgba(245, 245, 245, 1);
    font-family: "Caveat", serif;
    font-size: 3em;
    color: #436C00;
    -webkit-box-shadow: 0px 0px 25px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 25px 10px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 25px 10px rgba(0,0,0,0.75);

}

.showcaseBold {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 1em;
    color: #333333;
    text-decoration: underline;
}

.percentShowcase {
    background-image: url('/img/percentage.png');
    background-size: 9%;
    background-position: center;
    position: absolute;
    width: 90%;
    height: 90%;
    opacity: 0.1;
    top: 5%;
    left: 5%;
}

.photoShowcase img {
    max-width: 100%;
    height: fit-content;
    box-shadow: 0px 1px 10px #333333;
}

.photoShowcase {
    padding: 20px;
}

.fa-sign-in-alt, .fa-car {
    font-size: 2em;
}

.fa-shopping-cart  {
    color: #FFFFFF;
    font-size: 1em;
}


                                /* MOVING BACKGROUND */
                                /* MOVING BACKGROUND */
                                /* MOVING BACKGROUND */

.movingBackground1 {
    background-image: url('/img/moving.jpg');
    background-size: cover;
    background-position: center;
    height: 15vh;
    width: 100%;
}

.movingBackground2 {
    background-image: url('/img/moving2.jpg');
    background-size: cover;
    background-position: center;
    height: 15vh;
    width: 100%;
}


                                /* FLAGSHIP */
                                /* FLAGSHIP */
                                /* FLAGSHIP */

.flagshipProductTitle {
    font-family: "Caveat", serif;
    font-size: 3em;
    color: #436C00;
}


                                /* PRODUCT CARD */
                                /* PRODUCT CARD */
                                /* PRODUCT CARD */

.productCard {
    height: 37vh;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 9px, rgba(255,255,255,.5) 14px, rgba(255,255,255,.5) 39px);
}

.productCard:nth-child(even) {
    background-color: rgba(247, 197, 55, 0.5);
    border: 2px solid #dea400;
    z-index: 9;
}

.productCard:nth-child(odd) {
    background-color: rgba(195, 207, 31, 0.5);
    border: 2px solid #436C00;
    z-index: 9;
}

.productCard h4 {
    font-family: "Caveat", serif;
    font-weight: 700;
    font-size: 2em;
    color: #CB2235;
}

.productCard .headProduct {
    font-family: "Jost", sans-serif;
    font-size: 1.5em;
}

.productCard img {
    height: 18vh;
    width: auto;
}

.productCard ul {
    list-style-type: none;
}

.productPrice {
    font-family: "Jost", sans-serif;
    font-style: italic;
}

.productUnit {
    font-size: 0.5em;
    font-style: normal;
}

.productCard .fa-shopping-cart {
    color: #FFFFFF;
    font-size: 1.5em;
}

.layoutInfoProduct {
    font-family: "Caveat", serif;
    font-size: 1.2em;
}

.productCard .category, .productCard .season {
    font-family: "Caveat", serif;
    font-size: 1em;
}

.productCard .describe {
    font-family: "Caveat", serif;
    font-size: 1.5em;
}

.productCard .layoutQuantity {
    background-color: #FFFFFF;
    font-family: "Caveat";
    font-size: 2em
}

.productCard .layoutCart {
    background-color: #436C00;
}
