

                                /* ORDER MANAGER */
                                /* ORDER MANAGER */
                                /* ORDER MANAGER */

table td {
    padding-left: 1px!important;
    padding-right: 0px!important;
}

@media (max-width: 575px) { 
    .customerInfo h5 { 
        font-size: 1em;
    }

    .customerInfo p {
        font-size: 0.8em;
    }
}

.nav-tabs {
    border-radius: 0.5rem;
    background: #e9ecef;
}

.nav-tabs .nav-link.active {
    border-radius:0.25rem!important;
}