

                                /* PRODUCT CARD */
                                /* PRODUCT CARD */
                                /* PRODUCT CARD */

.productCard {
    height: auto;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 9px, rgba(255,255,255,.5) 14px, rgba(255,255,255,.5) 39px);
}

.productCard:nth-child(even) {
    background-color: rgba(247, 197, 55, 0.5);
    border: 2px solid #dea400;
    z-index: 9;
}

.productCard:nth-child(odd) {
    background-color: rgba(195, 207, 31, 0.5);
    border: 2px solid #436C00;
    z-index: 9;
}

.productCard h4 {
    font-family: "Caveat", serif;
    font-weight: 700;
    font-size: 2em;
    color: #CB2235;
}

.productCard .headProduct {
    font-family: "Jost", sans-serif;
    font-size: 1.5em;
}

.productCard img {
    height: 200px;
    width: 200px;
}

.productCard ul {
    list-style-type: none;
}

.productPrice {
    font-family: "Jost", sans-serif;
    font-style: italic;
}

.productUnit {
    font-size: 0.7em;
    font-style: normal;
}

.productCard .fa-shopping-cart {
    color: #FFFFFF;
    font-size: 1.5em;
}

.layoutInfoProduct {
    font-family: "Caveat", serif;
    font-size: 1.2em;
}

.productCard .category, .productCard .season {
    font-family: "Caveat", serif;
    font-size: 1em;
}

.productCard .describe {
    font-family: "Caveat", serif;
    font-size: 1.5em;
}

.productCard .layoutQuantity {
    background-color: #FFFFFF;;
    font-family: "Caveat";
    font-size: 2em
}

.productCard .layoutCart {
    background-color: #436C00;
}