

                                /* HEAD PRODUCER */
                                /* HEAD PRODUCER */
                                /* HEAD PRODUCER */

.headProducer {
    background-color: #ECF0F1;
    height: 450px;
}

.dividerHeadProducer {
    height: 0px;
}

.headProducer img {
    width: 6%;
}

.headProducer p {
    font-size: 2em;
    color: #333333;
}


                                /* PRODUCER */
                                /* PRODUCER */
                                /* PRODUCER */


.contentProducer img {
    width: 100%;
    height: auto;
}

.contentProducer h2 {
    font-family: "Caveat";
    text-decoration: underline;
    font-style: italic;
    color: #436C00;
}

.contentProducer p {
    font-family: "Nunito", serif;
    font-style: italic;
    font-size: 1.3em;
    color: #333333;
    text-decoration: none;
}


                                /* FOOT PRODUCER */
                                /* FOOT PRODUCER */
                                /* FOOT PRODUCER */