body {
    font-family: "Nunito 400", sans-serif;
}

.container-fluid {
    padding: 0px;
}

.title {
    color: brown;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #436C00;
}