

                                /* STYLE */
                                /* STYLE */
                                /* STYLE */

body {
    font-family: "Nunito 400", sans-serif;
}

.container-fluid {
    padding: 0px;
}

.title {
    color: brown;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #436C00;
}

.styleBold {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 1em;
    color: #333333;
    text-decoration: underline;
}

.styleTitle {
    font-family: "Caveat", serif;
    font-size: 3em;
    color: #436C00;
}