{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/productManager.css') }}">
{% endblock %}

{% block title %}Gestionnaire de commandes {% endblock %}

{% block body %}
<div class="d-flex justify-content-center">
    <div class="col-10 mt-2">
        <h1>Gestionnaire de commandes</h1>
        <p class="lead"> Valider, vérifier, et rechercher une commande</p>
        <hr class="mt-4 mb-1">
        <div class="d-flex justify-content-between text-small m-2">
            <span class="small">12 {#{numberOfProducts}#} commandes en attente(s)</span>
            <span class="small">Administration des commandes</span>
        </div>
        <ul class="nav nav-tabs nav-fill p-2" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" href="{{ path('productManager_show', {'page' : '1'}) }}" aria-controls="tasks" aria-selected="false">Liste</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('productManager_modify_no_id') }}" aria-controls="files" aria-selected="true">Détail</a>
            </li>
        </ul>
    <div>
</div>
{% endblock body %}
